# Virtual Environment
venv/
.venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database file config caches
local_databases.json
db_connections.json
.env

# Project SQLite copied databases inside database/
database/

# IDE / Editor configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.antigravity/
